html,
body {
	height: 100%;
}

.navbar{
	z-index: 1000;
	margin: 0px;
}
.header{
	height: 400px;
	/*background-image: url("brain_img.jpg");*/
	background-color: #aec6cf;
	background-size: 100%;
	padding-top: 75px;
    box-shadow: 0 2px 5px 0, 0 2px 10px 0
    width: 100%;
}

.name_header {
	color:white;
	font-size: 30px;
	font-weight: 700;

}		
.name_header span {
	display: block;
	font-size: 20px;
	font-weight: 400;
}

.about-section {
	margin-top: -200px;
}

#overview_container {
	width:70%;
	/*height: 260px;*/
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
	 0 2px 10px 0 rgba(0, 0, 0, 0.16)
}

#overview_pic {
	background-image: url('resume_profile.jpg');
	background-size: cover;
	height: 300px;
}
#overview_info {
	height: 300px;
    background-color: white;
}

#about_info {
	padding:30px;
	height: inherit;
}